@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Montserrat:wght@300;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text-light);
}

.experience{
  position: fixed;
  width: 100wv;
  height: 100vh;
}

.experience-canvas{
  width: 100%;
  height: 100%;
}

.preload {
  background-color:#DDDCDA;
}

/* The Actual Page */

:root{
  /* Light Theme Variables */
  --color-text-light: #333332;
  --color-background-light: #FAF4E5;
  --color-pink-light: #e5a1aa;
  --color-green-light: #7AD0AC;
  --color-blue-light: #8395CD;

  /* Dark Theme Variables */
  --color-text-dark: #FAF4E5;
  --color-background-dark: #8395CD;
}

.light-theme{
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-pink: var(--color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light);
}

.page{
  z-index:100;
  width: 100%;
  height: 100vh;
}

.page-wrapper{
  position: relative;
}

.no_selection {
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.footer{
  background-color:var(--color-background-light);
  padding: 2% 2% 2% 2%;
}

.footerSocials-margin{
  width: calc(max(100%,400px));
}

/* Hero section -------------------------------- */

.hero{
  width: 100vw;
  height: 30vh;
}

.hero-wrapper{
  position: relative;
  height: 100%;
  width: 85%;
  margin: 0 auto;
}

.hero-main{
  background-color:var(--color-background-light);
  position : absolute;
  top : 45px;
  left: 40px;
  padding: 1%;
  border-radius: 10px;
}

.hero-main-title{
  font-size: calc(min(max(4vw, 22px), 48px));
  color: var(--color-text);
}

.hero-main-description{
  font-size: calc(min(max(3vw, 18px), 28px));
  color: var(--color-text);
}

.hero-second{
  position : absolute;
  top : 15px;
  right: -20px;
  font-size: calc(min(max(2vw, 18px), 20px));
}

/* Section Formatting --------------------------------------------- */
.section-margin{
  height: 800px;
  width: 100%;
}

.section{
  position: relative;
  width: 37%;
  padding: 100px 4%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0;
  background-color:var(--color-background-light);
  overflow: hidden;
}

.section-title{
  text-align: Left;
  text-shadow: #333332;
  font-size: calc(min(max(3vw, 33px), 50px));
  margin-bottom: 50px;
}

.subsection{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.subsection-title{
  text-align: Left;
  text-shadow: #333332;
  margin-bottom: 20px;
  font-size: calc(min(max(2.5vw, 26px), 26px));
}

.expitem{
  margin-top: 20px;
  margin-bottom: 20px;
}

.expitem-title{
  margin-bottom: 0px;
}
.expitem-subtitle{
  margin-bottom: 10px;
}

.expitem-description{
  margin-bottom: 10px;
}

.expitem-year{
  margin-top: 10px;
}

.wider{
  width: 50%!important;
}
.extra-wide{
  width: calc(min(60%, 100% - min(37%,550px))) !important;
}

.left{
  margin-right: auto;
  padding-left: calc(max(40px, 5%));
  padding-right: calc(min(40px, 5%));
  border-top-right-radius: 300px 300px;
  border-bottom-right-radius: 70px 70px;
}

.right{
  margin-left: auto;
  padding-left: calc(min(70px, 5%));
  padding-right: 5%;
  border-top-left-radius: 300px 300px;
  border-bottom-left-radius: 70px 70px;
}

/* Project Section ----------------------------- */

.project-content-wrapper{
  position: relative;
  width: 100vw;
}

.project-content-section{
  position: absolute;
  background-color:var(--color-background-light);
  max-width: 550px;
  min-height: 750px;
  top:-675px;
  right:0px;
}

.project-media-section{
  position: absolute;
  top : 50px;
  background-color:var(--color-background-light);
  border-top-right-radius: 70px 70px !important;
  border-bottom-right-radius: 70px 70px !important;
  padding-right: 5%;

}

.project-media-wrapper {
  width: 100%;
  aspect-ratio: 16/9;
  max-width: 1024px;
  max-height: 576px;
}

.project-media-wrapper iframe {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  max-height: 576px;
}

.project-background{
  position:relative;
  z-index: 99;
  background-color:var(--color-pink-light);
  width: 100%;
  height: calc(max(60vw,700px)) !important;
  z-index: -1;
}

.content-margin{
  height: 100px;
  width: 100%;
}

/* Photo gallery (LOS)*/

.row{
  display: flex;
}

div.gallery {
  margin: 5px;
  width: 50%;
}

div.gallery:hover {
  opacity: .5;
}

div.gallery img {
  width: 100%;
  height: auto;
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/* SOCIALS */

.socials-wrapper{
  position: absolute;
  height: 100%;
  width: 3.25vw;
  left: calc(max(0.70vw,5px));
  margin: 0;
  z-index: 101;
}

.socials{
  position: absolute;
  z-index: 101;
  width: 100%;
  height: 100%;
}

.socials-margin{
  height: 22.5px;
  width: 100%;
}

.svg-inline--fa.fa-fw {
  width: 1.25em;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0.125rem solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: calc(max(3.25vw, 30px));
  aspect-ratio: 1;
  font-size: calc(max(1.25vw, 10px));
  justify-content: center;
  align-items: center;
  border-color: var(--color-text-light);
}
.mx-1 {
  margin-right: 0.25vw !important;
  margin-left: 0.25vw !important;
}

.trad{
  height: 1.5em !important;
}

/* Floating Emojis */

.peaches {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  pointer-events: none;
}
.peach {
  position: absolute;
  font-size: 3vw;
}

.peaches .peach:nth-child(1) {
  top: 35%;
  left: 5%;
  transform: scale(0.3 * 2);
}
.peaches .peach:nth-child(2) {
  top: 85%;
  display: flex;
  align-self: center;
  transform: scale(0.1 * 2);
}
.peaches .peach:nth-child(3) {
  top: 10%;
  right: 57%;
  transform: scale(0.35 * 2);
}
.peaches .peach:nth-child(4) {
  top: 35%;
  left: 35%;
  transform: scale(0.4 * 2);
}
.peaches .peach:nth-child(5) {
  top: 20%;
  left: 20%;
  transform: scale(0.2 * 2);
}
.peaches .peach:nth-child(6) {
  top: 50%;
  left: 25%;
  transform: scale(0.3 * 2);
}
.peaches .peach:nth-child(7) {
  top: 45%;
  right: 10%;
  transform: scale(0.45 * 2);
}


